* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  width: 100%;
}

body {
  position: relative;
  text-align: center;
  font-family: 'GmarketSansMedium';
  background-color: #5B2386;
  color: #fff;
}

/* Reset CSS */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0); 
  clip-path: polygon(0 0, 0 0, 0 0);
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, 
input,
textarea {
  font-family: 'GmarketSansMedium';
  text-align: center;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul, 
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* section */
/* 여러 섹션에 공통적으로 적용되는 스타일을 작성 */
.section-text-container {
  font-weight: 400;
  font-size: 24px;
}

.section-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-button {
  display: inline-block;
  position: relative;
  padding: 21px 49px;
  border-radius: 56px;
  cursor: pointer;
  text-align: center;

  font-family: 'GmarketSansBold';
  font-weight: 700;
  font-size: 24px;
  color: #5B2386;
  background-color: #FCEE21;
}

/* Header */
.header-container {
  position: relative;
  margin: 195px 0 125px 0;
}

.header-title {
  width: 564px;
  height: auto;
}

.header-container::after {
  content: "";
  display: inline-block;
  position: absolute;
  
  width: 261px;
  height: 265px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url('./assets/title-background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Quote Section */
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 78px;

  font-family: 'OTEnjoystoriesBA';
  font-weight: 700;
  font-size: 36px;
  color: #F5DF4D;
}

.rule-description {
  position: relative;
  margin-bottom: 102px;
  font-size: 18px;
  line-height: 1.8;

  background-image: url('./assets/quotes.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top 13px;
}

.rule-description dfn {
  font-family: 'GmarketSansBold';
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
}

.rule-description span {
  display: block;
}

/* Training Input Section */
.training-input-text:first-child {
  margin-bottom: 27px;
}

.training-input-text:last-child {
  margin-bottom: 115px;
}

.training-input {
  margin: 0 17px;
  padding: 0;
  width: 226px;
  height: 57px;
  border-radius: 7px;
  text-align: center;
  font-size: 24px;
}

.training-input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: #BABCBE;
}

.training-input-button {
  position: relative;
  margin-bottom: 147px;
}

.training-input-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  
  width: 64px;
  height: 72px;
  top: 25px;
  right: -75px;

  background-image: url('./assets/button-figer.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Result Section */  
.result-section {
  display: none;
}

.result-text:first-child {
  margin-bottom: 17px;
}

.result-text:last-child {
  margin-bottom: 127px;
}

.result-text strong {
  margin: 0 12px;
  font-family: 'GmarketSansBold';
  font-weight: 700;
  font-size: 72px;
}

.button-container {
  margin-bottom: 130px;
}

.result-modal-button {
  margin-right: 17px;
}

.result-share-button {
  background-color: #fff;
}

/* modal */
.modal {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;   
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 750px;
  height: 750px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
  background-color: #fff;
}

.modal-header {
  margin-bottom: 29px;
  font-family: 'OTEnjoystoriesBA';
  font-weight: 700;
  color: #5B2386;
}

.modal-title {
  font-size: 96px;
  line-height: 1.1;
}

.modal-detail {
  display: block;
  font-size: 36px;
  line-height: 1.1;
}

.modal-img {
  margin-bottom: 74px;
}

.modal-button{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

/* Footer */
.footer-logo {
  margin-bottom: 20px;
  width: 125px;
  height: 25px;
}

.footer-copyright {
  margin-bottom: 70px;
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.4483;
}


/* mobile */
@media (min-width: 360px) and (max-width: 600px) {
  /* Section */

  .section-text-container {
    font-size: 14px;
  }

  .section-button {
    font-size: 14px;
  }

  /* Header */
  .header-container {
    margin: 76px 0 69px 0;
  }

  .header-title {
    width: 267px;
  }

  .header-container::after {
    width: 125px;
    height: 126px;
  }

  /* Quote Section */
  .quote {
    margin-bottom: 62px;
    font-size: 22px; 
  }
  
  .rule-description {
    margin-bottom: 66px;
    font-size: 14px;
    line-height: 2.0;

    background-position: center top 24px;
  }
  
  .rule-description dfn {
    font-size: 14px;
  }
  
  .rule-description:after {
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Training input section */
  .training-input-text {
    flex-direction: column;
    display: inline-block;
  }

  .training-input-text:first-child {
    margin-bottom: 17px;
  }
  
  .training-input-text:last-child {
    margin-bottom: 49px;
  }

  .training-input-text span {
    display: block;
    margin-bottom: 19px;
  }

  .training-input {
    margin: 0;
    width: 156px;
    height: 37px;
    border-radius: 7px;
    font-size: 14px;
  }

  .training-input::placeholder {
    font-size: 14px;
  }
  
  .training-input-button {
    margin-bottom: 64px;
    padding: 18px 36.5px;
    border-radius: 13px;
  }

  .training-input-button span {
    display: block;
  }
  
  .training-input-button::after {
    width: 43px;
    height: 48px;
    top: 40px;
    right: -55px;
  }

  /* Result Section */

  .result-section {
    display: none;
  }

  .result-text:first-child {
    margin-bottom: 15px;
  }

  .result-text:last-child {
    margin-bottom: 55px;
  }

  .result-text strong {
    margin: 0 8px;
    font-size: 24px;
  }
  
  .button-container {
    margin-bottom: 83px;
  }
  
  .button-container .section-button {
    height: 40px;
  }

  .result-modal-button {
    padding: 0 17.5px;
    margin-right: 13px;
  }

  .result-share-button {
    padding: 0 19px;
  }

  /* Modal */
  .modal {
    display: flex;
    display: none;
    width: 330px;
    height: 500px;
  }
  
  .modal-header {
    margin-bottom: 29px;
  }
  
  .modal-title {
    font-size: 64px;
  }

  .modal-title span {
    display: none;
  }
  
  .modal-img {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
  }
  
  .modal-button {
    padding: 18px 45px;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
  }

  .modal-button span {
    display: block;
  }

  /* Footer */
  .footer-logo {
    margin-bottom: 17px;
    width: 91px;
    height: 18px;
  }
  
  .footer-copyright {
    margin-bottom: 32px;
    font-size: 9px;
    line-height: 1.4477;
    color: #FFFFFFB2;
  }
} @media (min-width: 601px) and (max-width: 1024px) {
  .training-input-text:last-child {
    flex-direction: column;
    display: inline-block;
  }
  
  .training-input:nth-child(2) {
    margin: 0 4px 0 0;
    display: inline;
  }

  .training-input-text span {
    display: block;
    margin-bottom: 25px;
  }
}